@tailwind base;
@tailwind components;
@tailwind utilities;





.icon{
  width: 40px;
}

body{
width: 100%;

}
.contenedor{
  width: 80%;
  margin: 0 auto;
}
#cabezera{
  
  height: 1000px;
  background-image: linear-gradient(to top, #051037, #021b40, #032648, #09314f, #143b55);  width: 100%;
}




@media (min-width: 300px) and (max-width: 460px) {
  #cabezera{
  
    height: 100px;
    background-image: linear-gradient(to top, #051037, #021b40, #032648, #09314f, #143b55);  width: 100%;
  }
  
}

