@tailwind base;
@tailwind components;
@tailwind utilities;





.icon{
  width: 40px;
}
.icon2{
  width: 80px;
}

body{
width: 100%;

}
.contenedor{
  width: 80%;
  margin: 0 auto;
}
#cabezera{
  
  height: 1000px;
  background-image: linear-gradient(to top, #051037, #021b40, #032648, #09314f, #143b55);  width: 100%;
}


input{
  width: 60%;
  border: 1px solid #D1D5DB;
  border-radius: 5px;
  height: 33px;
  background: #F9FAFB;
  

}

textarea{
 width: 80%;
  border: 1px solid #D1D5DB;
  border-radius: 5px;
  min-height: 200px;
}





@media (min-width: 400px) and (max-width: 660px) {
  #cabezera{
  
    height: 70px;
    background-image: linear-gradient(to top, #051037, #021b40, #032648, #09314f, #143b55);  width: 100%;
  }

  input{
    width: 100%;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    height: 33px;
    background: #F9FAFB;
    
  
  }
  
  textarea{
   width: 100%;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    min-height: 200px;
  }
  
  
  
}


.XXX{
  background-image: url('/img/js.png')

}




